<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ooznest.cnc" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ooznest CNC</name>
    <description>
        Ooznest Machine Control App
    </description>
    <author email="hello@ooznest.co.uk" href="https://ooznest.co.uk">
        Ooznest Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splash.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <preference name="SplashScreenDelay" value="1000" />
        <preference name="FadeSplashScreenDuration" value="500" />
        <resource-file src="res/xml/device_filter.xml" target="app/src/main/res/xml/device_filter.xml" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest">
            <manifest xmlns:android="http://schemas.android.com/apk/res/android">
                <uses-feature android:name="android.hardware.usb.host" />
            </manifest>
        </edit-config>
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />

    </platform>
</widget>
